<?xml version="1.0"?>
<model>
  <name>universal-robot-ur5</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Agathe Balayn</name>
    <email>agathe.balayn@gmail.com</email>
  </author>

  <description>
    Universal Robot UR5. Based on https://github.com/cpaxton/.
  </description>
</model>
