<?xml version='1.0'?>
<database>
  <name>cogimon-gazebo-models</name>
  <license>Creative Commons Attribution 3.0</license>
  <models>
    <uri>file://kuka-lwr-4plus</uri>
	<uri>file://kuka-lwr-4plus-ft</uri>
	<uri>file://boris-ft</uri>
    <uri>file://universal-robot-ur5</uri>
    <uri>file://iit-coman</uri>
    <uri>file://iit-coman-no-forearms</uri>  
    <uri>file://iit-coman-hardware</uri> 
  </models>
</database>
