<?xml version="1.0"?>
<model>
  <name>kuka-omnirob-lwrs</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Dennis Leroy Wigand</name>
    <email>dwigand@techfak.uni-bielefeld.de</email>
  </author>

  <description>
    Kuka OmniRob Model. Including 2 mounted lwr 4+ with triangle tool attached.
  </description>
</model>