<?xml version="1.0"?>
<model>
  <name>kuka-festo-8dof</name>
  <version>0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Sven Tittel</name>
    <email>s.tittel@tu-bs.de</email>
  </author>

  <description>
    Advanced Kuka LWR 4+ URDF. Based on Antoine Hoarau and Dennis Leroy Wigand's versions.
    Revised by an additional joint due to fixing the base to the sleigh of a Festo EGC-BS-KF sindle axis.
  </description>
</model>
