<?xml version="1.0"?>
<model>
  <name>kuka-iiwa-7-schunk-egp-40</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Dennis Leroy Wigand</name>
    <email>dlwigand@gmail.com</email>
  </author>

  <description>
    Kuka IIWA 7 with Schunk EGP 40 as tool.
  </description>
</model>