<?xml version="1.0"?>
<model>
  <name>coman-lowerbody-only</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Enrico Mingo Hoffman, Niels Dehio</name>
    <email>enrico.mingo@iit.it</email>
  </author>

  <description>
     COMAN URDF
  </description>
</model>
