<?xml version="1.0"?>
<model>
  <name>kuka-lwr-4plus-triangle-tilted</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Dennis Leroy Wigand</name>
    <email>dwigand@cor-lab.de</email>
  </author>

  <description>
    Kuka LWR 4+ URDF with triangle foot tool attached. Based on Antoine Hoarau's version.
  </description>
</model>
