<?xml version="1.0"?>
<model>
  <name>kuka-iiwa-14</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Dennis Leroy Wigand</name>
    <email>dlwigand@gmail.com</email>
  </author>

  <description>
    Kuka IIWA 14 URDF. Based on https://github.com/IFL-CAMP/iiwa_stack/tree/master/iiwa_description.
  </description>
</model>