<?xml version="1.0"?>
<model>
  <name>festo-axis</name>
  <version>0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Sven Tittel</name>
    <email>s.tittel@tu-bs.de</email>
  </author>

  <description>
    Festo spindle axis with type specifier EGC-185-1000-BS-40P-KF-0H-ML-GK.
  </description>
</model>
