<?xml version="1.0"?>
<model>
  <name>franka-hand</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Julian Theis</name>
    <email>jlntheis@gmail.com</email>
  </author>

  <description>
    Franka Emika hand URDF. Derived from the description in the franka_ros package.
  </description>
</model>
