<?xml version="1.0"?>
<model>
  <name>kuka-omnirob</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>David Leins</name>
    <email>dleins@techfak.uni-bielefeld.de</email>
  </author>

  <description>
    Kuka OmniRob Model. Its base was adapted from the V-REP model repository.
  </description>
</model>