<?xml version="1.0"?>
<model>
  <name>kuka-lwr-4plus-sponge</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Niels Dehio</name>
    <email>n.dehio@tu-braunschweig.de</email>
  </author>

  <description>
    Kuka LWR 4+ URDF with 3D printed sponge-tool attached. Based on Antoine Hoarau's version.
  </description>
</model>
