<?xml version="1.0"?>
<model>
  <name>kuka-artificial11DOF</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Niels Dehio</name>
    <email>ndehio@techfak.uni-bielefeld.de</email>
  </author>

  <description>
    Kuka Artificial 11 DOF. Based on LWR 4+ URDF.
  </description>
</model>
